main {
    width:850px;
    margin:0 auto;
}
main .top {
    border: 1px solid gainsboro;
    height:100px;    
}
main .top h1 {
    float:left;
    font-size:1.250rem;
    line-height:100px;
    margin:0 0 0 20px;
    
}
main .top dl {
    
}
main .top dl dd {
    font-size:0.875rem;
    line-height:100px;
    float:right;
    margin-right:20px;
}

main .top dl dd i{
    margin: 0px 10px;
}

main .top dl dd span {}
main .top dl dd em {
    font-weight:700;
}
main .top dl .a {padding-right:10px;}
main section {
    border: 1px solid gainsboro;
    border-top:none;
    padding:100px 25px;
}
main section h2 {
    color:darkblue;
    font-size:1.063rem;
    font-weight:700;
}

main section h2 i{
    color:darkblue;
    font-size:1.063rem;
    margin-right:20px;
    
}
main section p {
    margin:50px 0;
    line-height:1.7;
}
main section p em {color:green; /* font-size:1.875rem; */}
main section .big_name, main section .big_name em {
    font-size:1.875rem;
    line-height:1.3;
}
main section h2+p {padding:0 0 0 50px;}

