/* 전체너비 1220px */
.main_1 {
    background: yellow;
    background:url(../images/bg1.png);
}
.main_1 > * {
    width:1220px; margin: 0 auto;
}
/* 왼쪽 로고 영역 --------------------------------------------------------------------------- */
.main_1 .left {
    background-color: aqua;
}
.main_1 .left .logo {}
.main_1 .left .logo img {width:60px; height:70px;}
/* 가장 메인 타이틀 -------------------------------------------------------------------------- */
.main_1 .middle {background-color: pink; text-align:center;}
.main_1 .middle h1 {font-size:4rem; color:#fff; line-height:1.3; }
.main_1 .middle h1 span {font-size:4rem; font-weight:800;}
.main_1 .middle > * {}
.main_1 .middle a {}
.main_1 .middle h1 span a img {}
/* 후원관련 자주 묻는 질문 받기 ------------------------------------------------------------- */
.main_1 .right {}
.main_1 .right .question {}
.main_1 .right .question img {}