.path {
    width:100vw; height:100vh;
    background-color:lightgray;
}
.path dl {background-color:yellow;}
.path dl dt {}
.path dl dd {background-color: aqua;}
.path dl dd span {
    background-color: violet;
    display:inline-block;
    margin:5px 10px 30px 0 ;
    /* margin-left:20px;
    margin:0 0 0 20px; 
    같은 말임/값이 0일때만 생략가능 */
}
.path dl dd i {}
.path dl dd a {
    background-color: pink;
    /* width:120px; */
    padding:10px 30px 10px 0;
    display:inline-block;
}
.path dl dd .noto {font-family: 'Noto Sans KR', sans-serif;}
.path dl dd .nanum {font-family: 'Nanum Gothic', sans-serif;}
